{% extends "base.html" %}
{% block titulo %}Lista{% endblock %}
{% block contenido %}
<h2 align="center">Alquiler</h2>
<table class="responsive-table">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Video</th>
                <th>fecha_alquiler</th>
                <th>fecha_devolución</th>
                <th>dias_retrazo</th>
                <th>Premio</th>
            </tr>
        </thead>
            {% for i in consulta %}
            <tr>
                <td>{{i.nombre}}</td>
                <td>{{i.titulo}}</td>
                <td>{{i.fecha_alquiler}}</td>
                <td>{{i.fecha_devolucion}}</td>
                <td>{{i.dias_retrazo}}</td>
                <td>{{i.tipo}}</td>
            </tr>
            {% endfor %}
    </table>
{% endblock %}